<div fxFlex fxLayout="column">


  
  <div fxLayout="row wrap" class="uno" >

    <div fxFlex="33" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxlayout="column">

      


      

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>PERSONAJES</mat-card-title>
          <mat-card-subtitle>Marvel</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://i.blogs.es/270d91/personajes-de-stan-lee/1366_2000.jpg" alt="PERSONAJES">
        <mat-card-content>
          <p>
            Aqui encontrarás la información mas relevante  de Tus personajes Favoritos
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ir a Personajes</button>
        
        </mat-card-actions>
      </mat-card>
      
      </div>

     <div fxFlex="33" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxlayout="column">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Comics</mat-card-title>
          <mat-card-subtitle>Marvel</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://static.posters.cz/image/750/posters/marvel-comics-here-come-i11484.jpg" alt="Comics">
        <mat-card-content>
          <p>
          Te apasionan los comics ,no esperes más y ven a leerlos en tu mejor página
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ir a Comics</button>
       
        </mat-card-actions>
      </mat-card>
     </div>
     

     <div fxFlex="33" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxlayout="column">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Series</mat-card-title>
          <mat-card-subtitle>Marvel</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.mubis.es/media/users/12828/305040/todas-las-series-de-marvel-studios-en-una-imagen-cual-es-vuestra-preferida-original.jpg" alt="Series">
        <mat-card-content>
          <p>
            Si eres mas de Series, Marvel tiene las mejores series de la historia, ¿Lo dudas?
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ir a Series</button>
        </mat-card-actions>
      </mat-card>
     </div>

    
    

  </div>
 
</div>
